<div ng-controller="myController">
            <center>
                <table class="booklist" border=2>
                    <thead>
                        <tr>
                            <th ng-click="sortData('ISBN')">ISBN <div ng-class="getSortClass('ISBN')"></th>
                            <th ng-click="sortData('Name')">NAME <div ng-class="getSortClass('Name')"></th>
                            <th ng-click="sortData('Author')">AUTHOR<div ng-class="getSortClass('Author')"></th>
                            <th ng-click="sortData('Category')">CATEGORY<div ng-class="getSortClass('Category')"></th>
                            <th ng-click="sortData('price')">PRICE<div ng-class="getSortClass('price')"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="book in books | orderBy:sortColumn:reverseSort">
                            <td>{{ book.ISBN }}</td>
                            <td><a href="" ng-click="getdetail(book)" target="_blank">{{ book.Name }}</a></td>
                            <td>{{ book.Author }}</td>
                            <td>{{ book.Category }}</td>
                            <td>{{ book.price }}</td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>